@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        background-color: #cccccc;
        background-size: cover; /* <------ */
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url('../../Content/img/home-bg.jpg');
    }

</style>
<div id="main-div" style="padding-top:200px; padding-right:150px; text-align:right;">
    <h1><strong>Welcome to Online Shop</strong></h1>
</div>
   